<h1>Add a Recipe to Your Collection</h1>
  <form action="/recipes" method="post">
    <h3>Name: <input type="text" name="name"></h3>
    <p>Ingredients: <input type="text" name="ingredients"></p>
    <p>Cook Time: <input type="text" name="cook_time"></p>
    <input type="submit" value="submit">
  </form>
