<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<p>This is the index page</p>
	<% @recipes.each do |recipe| %>
	<%= recipe.name %>
	<%= recipe.ingredients %>
	<%= recipe.cook_time %>
	<a href="/recipes/<%= recipe.id %>">link to the recipe</a>
	<% end %>
</body>
</html>
