<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<form action="/recipes" method="POST">
		<p>Recipe Name: <input type="text" id="name" name="name" /></p>
		<p>Ingredients: <input type="text" id="ingredients" name="ingredients" /></p>
		<p>Cook Time: <input type="text" id="cook_time" name="cook_time" /></p>
		<input type="submit" id="submit">
	</form>
</body>
</html>